body {
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

.land {
  /*fill: #dddddd;*/
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: rgb(169, 169, 169);/*white;*/
}

.exterior {
  stroke:  rgb(169, 169, 169); /* #bbbbbb;*/
}

.airport {
  fill: white;
  opacity: 0.6;
  stroke: #252525;
}

.flight {
  fill: none;
  /*stroke: #252525;*/
  stroke-opacity: 0.15;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}

.highlight {
  opacity: 1 !important;
  stroke: red !important;
  stroke-width: 1px !important;
  stroke-opacity: 0.8 !important;
}

g.voronoi {
  pointer-events: all;
}

/* shadow trick from bl.ocks.org */
.tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}

#loader { /*loading screen*/
  border: 16px solid #b5b5b5;
  border-radius: 50%;
  border-top: 16px solid #3dffbb;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
  width: 120px;
  height: 120px;
  display: none;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}