body {
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

.land {
  /*fill: #dddddd;*/
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: rgb(169, 169, 169);/*white;*/
}

.exterior {
  stroke:  rgb(169, 169, 169); /* #bbbbbb;*/
}

.airport {
  fill: white;
  opacity: 0.6;
  stroke: #252525;
}
.airport:hover {
  cursor: pointer;
}

.flight {
  fill: none;
  /*stroke: #252525;*/
  stroke-opacity: 0.15;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}

.highlight {
  opacity: 1 !important;
  stroke: #189f1d !important;
  stroke-width: 2px !important;
  stroke-opacity: 0.9 !important;
}

g.voronoi {
  pointer-events: all;
}

.datebrush-container{
  width: 100%;
  display: block;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.handle {
  fill: #334E66;
  width: 3px;
}

.temp-selection {
  fill: orange;
}

.selected {
  fill: red;
}

.temp-deselection {
  fill: orange !important;
}

#selectionBox {
  border: 1px solid rgb(27, 51, 70);
  position: absolute;
  background-color: rgba(27, 51, 70, 0.2);
}

.deselectionBox {
  border: 1px dotted red !important;
}
.noselect, html > * {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.input-container{
  text-align: left;
  height: 50px;
  float: left;
}
.geo-panel{
  width:250px;
  height: 100px;
}
.week-panel {
  width: 350px;
  height: 100px;
}
.week-panel > div {
  width: 50%;
  float: left;
}
input[type=checkbox] {
  display: inline-block;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  color: white;
  margin-top: 50px;
}
button:hover {
  background-color: white;
  color: black;
}
.btn-div {
  float: left;
}
.all-panels-container {
  margin: 0 300px;
}

text {
  font-weight: bold;
}
/* shadow trick from bl.ocks.org */
.tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}

#loader { /*loading screen*/
  border: 16px solid #b5b5b5;
  border-radius: 50%;
  border-top: 16px solid #4CAF50;;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
  width: 120px;
  height: 120px;
  display: none;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}